# Common
# ============================================================
LG_SCSS_COMPILE_PARAM=
LG_GOOGLE_ANALYTICS_WP=
LG_GOOGLE_ANALYTICS_GT=

LG_BASE_URL_WP=
LG_BASE_URL_GT=

# WordPress
# ============================================================
WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=

# Goteo
# ============================================================
LG_OMNICONFIG_JSON_FILE=
SRC_URL=

GOTEO_DB_CHARSET=
GOTEO_DB_HOST=
GOTEO_DB_PASSWORD=
GOTEO_DB_PORT=
GOTEO_DB_SCHEMA=
GOTEO_DB_USERNAME=
COMMON_AUTH_DB_SCHEMA=

CRON_PARAM=
CRON_VALUE=

GOTEO_MAIL_FROM=
GOTEO_FAIL_MAIL=
GOTEO_LOG_MAIL=
GOTEO_MAIL_NAME=
GOTEO_MAIL=
GOTEO_CONTACT_MAIL=

OAUTH_FACEBOOK_ID=
OAUTH_FACEBOOK_SECRET=
OAUTH_TWITTER_ID=
OAUTH_TWITTER_SECRET=

GOTEO_LOCATION_NAMES=

EPSILON_CONTRACT_CODE=

# AWS
# ============================================================
AWS_SES_ACCESS=
AWS_SES_CHARSET=
AWS_SES_SECERET=
AWS_SES_SOURCE=

DBI_AWS_ACCESS_KEY_ID=
DBI_AWS_SECRET_ACCESS_KEY=

STATIC_S3_BUCKET_NAME=
STATIC_S3_VERSION=
STATIC_S3_REGION=
STATIC_SVR_DOMAIN=
